.actorMoviesList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 3rem;
	align-items: end;
}

.actorMoviesList img {
	width: 100%;
}

.actorDetails {
	display: grid;
	text-align: center;
	padding: 20px;
}

.actorOverview {
	text-align: center;
}

.actorOverview h1 {
	font-size: 2em;
	margin: 0 0 0 auto;
}

/* .movieDetails img {
	display: flex;
	justify-content: right;
} */

.actorOverview p {
	margin: 0;
}

.panel-wrapper {
	position: relative;
}

.btn {
	text-decoration: none;
}

.show,
.hide {
	margin-bottom: -20px;
	position: absolute;
	bottom: -1em;
	text-align: left;
}

.hide {
	display: none;
}
.show:target {
	display: none;
}

.show:target ~ .fade {
	display: none;
}
.show:target ~ .hide {
	display: block;
}
.show:target ~ .panel {
	max-height: 2000px;
}

.fade:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: linear-gradient(transparent 150px, white);
}

.panel {
	font-size: 14px;
	position: relative;
	margin: 2em auto;
	max-height: 170px;
	overflow: hidden;
	transition: max-height 0.5s ease;
}

@media (min-width: 800px) {
	.actorDetails {
		margin: 0 auto 60px auto;
		grid-template-columns: 1fr, 3fr;
		max-width: 720px;
	}
	.actorOverview {
		grid-column: 2;
		text-align: left;
		padding-left: 30px;
	}

	.actorMoviesList {
		grid-template-columns: repeat(auto-fill, minmax(200px, 0.5fr));
	}
}
