.searchResults {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 3rem;
	align-items: end;
	padding: 0 var(--padding) var(--padding) var(--padding);
}

.searchResults img {
	/* margin: 20px; */
	width: 100%;
}

.listMovie {
	padding: 10px;
	border: 1px solid rgba(168, 133, 103, 0.5);
	border-radius: 3px;
}

.listMovie:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.resultInfo {
	/* height: 70px; */
	padding: 10px;
}

.resultInfo h2 {
	margin: 0 0 5px 0;
	font-size: 16px;
	line-height: 20px;
	font-weight: 800;
}

.resultInfo p {
	font-size: 14px;
	margin: 0;
}

span {
	font-style: italic;
}

@media (min-width: 800px) {
	grid-template-columns: repeat(auto-fill, minmax(200px, 0.5fr));
}
