.searchResults {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 3rem;
	align-items: end;
}

.searchResults img {
	width: 100%;
}

@media (min-width: 800px) {
	grid-template-columns: repeat(auto-fill, minmax(220px, 0.5fr));
}
