:root {
	--padding: 30px;
}

body {
	text-align: center;
	font-family: 'Nunito Sans', sans-serif;
	padding: var(--padding);
}

p {
	font-size: 14px;
}

/* Landing Page */

.masterDiv {
	display: grid;
	grid-template-rows: 75px 1fr;
	height: 100vh;
}

.masterDiv .homeLink {
	text-align: left;
	font-family: 'Playfair Display', serif;
	font-style: none;
	margin: 0;
}

.masterDiv nav {
	display: flex;
	align-content: center;
	justify-content: space-between;
}

.landingTitle {
	line-height: 130px;
	font-size: 8em;
	font-weight: 700;
	margin-bottom: 30px;
}

.masterDiv h1 {
	font-family: 'Playfair Display', serif;
}

.landingSubTitle {
	margin-bottom: 20px;
	margin-top: 20;
	font-size: 1.5em;
}

@media (min-width: 800px) {
	.h1Title {
		text-align: left;
		margin: 33px;
	}

	/* .masterDiv h1 {
		margin-bottom: 0px;
	} */

	body {
		padding: 30px 60px 30px 60px;
	}
}
